@charset "UTF-8";

#sidebar {
	position: fixed;
	width: 210px;
	height: 130%;
	background: black;
	left: -210px;
	transition: all 500ms linear;
	opacity: 0.3;
}

#sidebar.active {
	left: 0px;
}

#sidebar ul li {
	color: rgba(230, 230, 230, 0.9);
	list-style: none;
	padding: 15px 10px;
	border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

#sidebar .toggle-btn {
	position: absolute;
	left: 230px;
	top: 20px;
}

#sidebar .toggle-btn span {
	display: block;
	width: 30px;
	height: 5px;
	background: black;
	margin: 5px 0px;
}

#sideAlert{
	position: fixed;
	width:250px;
	height:500px;	
}